<div class="card-columns m-3 mt-5">
  {%- for defined_project in site.data.projects -%}

    {%- if defined_project.remote -%}

        {%- for repo in site.github.public_repositories -%}
            {%- if defined_project.repository == repo.full_name -%}
                {%- assign project = repo -%}
                {%- assign words = project.name | split: '-' -%}

                {%- capture titlecase -%}
                    {%- for word in words -%}
                        {{ word | capitalize | append: ' ' }}
                    {%- endfor -%}
                {%- endcapture -%}

                {%- assign project_type  = "remote" -%}
                {%- assign project_id    = project.name -%}
                {%- assign project_img   = defined_project.image | default: false -%}
                {%- assign project_name  = titlecase | strip -%}
                {%- assign project_desc  = defined_project.description | default: project.description -%}
                {%- assign project_url   = project.html_url -%}
                {%- assign project_tools = defined_project.tools | default: project.topics -%}
                {%- assign external      = true -%}
                {%- assign project_is_open_source = defined_project.open_source | default: false -%}
                {%- assign project_text = defined_project.text -%}

                {% include projects/project-card.html %}

            {%- endif -%}

        {%- endfor -%}


    {%- else -%}

        {%- assign project = project_html -%}

        {%- assign project_type  = "local" -%}
        {%- assign project_id    = defined_project.name | slugify -%}
        {%- assign project_img   = defined_project.image -%}
        {%- assign project_name  = defined_project.name -%}
        {%- assign project_desc  = defined_project.description -%}
        {%- assign project_tools = defined_project.tools -%}
        {%- assign project_text = defined_project.text -%}
        {%- assign project_is_open_source = defined_project.open_source | default: false -%}

        {%- if defined_project.external_url -%}
            {%- assign project_url = defined_project.external_url -%}
            {%- assign external    = true -%}
        {%- else -%}
            {%- for project_html in site.projects -%}
                {%- if project_html.slug == defined_project.slug -%}

                    {%- assign project_url = project_html.url | relative_url -%}
                    {%- assign external    = false -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}

        {% include projects/project-card.html %}

    {%- endif -%}



  {%- endfor -%}


</div>
