<div id="carouselExampleIndicators-{{include.id}}" class="carousel slide" style="margin-top: 1rem; margin-bottom: 3rem" data-ride="false" data-interval="false">

  <ol class="carousel-indicators dark-toggle">
    {% for image in include.images %}
        {%- if forloop.first -%}
          <li data-target="#carouselExampleIndicators-{{include.id}}" data-slide-to="{{forloop.index0}}" class="active"></li>
        {%- else -%}
          <li data-target="#carouselExampleIndicators-{{include.id}}" data-slide-to="{{forloop.index0}}"></li>
        {%- endif -%}
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for image in include.images %}
      {%- if forloop.first -%}
        <div class="carousel-item active">
          <img src="{{ image.src }}" alt="{{ image.alt }}" class="d-block w-100 {% if image.dark %}theme-img{% endif %}">
            {%- if image.caption -%}
                <div class="position-relative text-center mb-5">
                    <h5>{{ image.caption }}</h5>
                    <p>{{ image.description }}</p>
                </div>
            {%- endif -%}
        </div>
      {%- else -%}
        <div class="carousel-item">
          <img src="{{ image.src }}" alt="{{ image.alt }}" class="d-block w-100 {% if image.dark %}theme-img{% endif %}">
            {%- if image.caption -%}
            <div class="position-relative text-center mb-5">
                <h5>{{ image.caption }}</h5>
                <p>{{ image.description }}</p>
            </div>
            {%- endif -%}
        </div>
      {%- endif -%}
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators-{{include.id}}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon dark-toggle" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators-{{include.id}}" role="button" data-slide="next">
    <span class="carousel-control-next-icon dark-toggle" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

